@model IEnumerable<int>
@{
    ViewBag.Title = "Level";
    Layout = "~/Views/Shared/Layouts.cshtml";
}
@section footerJS{
    <script src="~/Assets/Admin/libs/mustache/mustache.min.js"></script>
    <script src="~/Assets/Client/js/jquery.twbsPagination.min.js"></script>
    <script src="~/Assets/Client/js/controllers/listAudio.js"></script>
    <script async src="~/Assets/Client/pagead2.googlesyndication.com/pagead/js/f.txt"></script>
    <!-- index middle text only -->
    <ins class="adsbygoogle"
         style="display:inline-block;width:234px;height:60px"
         data-ad-client="ca-pub-0119806589085646"
         data-ad-slot="2273830705"></ins>
    <script>
        (adsbygoogle = window.adsbygoogle || []).push({});
    </script>
}

<div class="row" data-sticky_parent="">
    <div class="col-lg-8 content-wrapper">
        <div class="posts-box3 archive-box">
            <div class="posts-box3__top">
                <h2 class="posts-box3__top__title">@ListenAndWrite.Web.Resources.HomeTexts.LatestAudio: @(ViewBag.Level != null ? " "+ @ListenAndWrite.Web.Resources.HomeTexts.Level+" " + ViewBag.Level : "") </h2>

            </div>
            <input type="hidden" id="level" value="@ViewBag.Level" />

            <div class="archive-posts">


            </div><!--//.posts-list -->
            <ul id="pagination" class="pagination-sm"></ul>
            @*<nav class="pagination" role="navigation" aria-label="pager">


                    <span class="page current">
                        1
                    </span>
                    <span class="page">
                        <a rel="next" href="level4658.html?page=2">2</a>
                    </span>
                    <span class="page">
                        <a href="level9ba9.html?page=3">3</a>
                    </span>
                    <span class="page">
                        <a href="levelfdb0.html?page=4">4</a>
                    </span>
                    <span class="page">
                        <a href="levelaf4d.html?page=5">5</a>
                    </span>
                    <span class="page gap">&hellip;</span>
                    <span class="next">
                        <a rel="next" href="level4658.html?page=2">Next &rsaquo;</a>
                    </span>
                    <span class="last">
                        <a href="levelaa9e.html?page=287">Last &raquo;</a>
                    </span>
                </nav>*@
        </div> <!--//.posts-box  -->
    </div>
    <div class="col-lg-4 sidebar sidebar--right u-md-down-margin-t-40">
        <div class="sidebar__inner" data-sticky_column="">
            <div class="widget widget--transparent-box img-banner">
                <figure>
                    <div class="m-post-content m-post-content--nyc">
                        <b>@ListenAndWrite.Web.Resources.HomeTexts.Level</b>
                        <div class="post-tags">
                            <div class="tags-wrap">
                                @foreach (var level in Model)
                                {
                                    <a style="font-size: 80%;" href="/audio/level/@(level)">@(level)</a>
                                }

                            </div>
                        </div>
                    </div>
                </figure>
            </div>
            <div class="widget widget--transparent-box img-banner">
                <figure>

                </figure>
            </div>

        </div>
    </div>
</div>
<script id="data-template" type="x-tmpl-mustache">
    <article class="post-item">
        <div class="post-content">
            <div class="post-meta">
                <h6 class="post-title">
                    <a href="/audio/choose/{{Id}}">{{AudioTitle}}</a>
                </h6>
                <div class="item">
                </div>
                <div class="item">
                    <i class="fa fa-star-half-o"></i>level = {{Level}}
                </div>
                <div class="item">
                    <i class="fa fa-hourglass-o"></i>{{Duration}}
                </div>
                <div class="item">
                    <time><i class="fa fa-clock-o"></i>{{CreatedDate}}</time>
                </div>
            </div>
        </div>
    </article>
    <hr />
</script>